/* #region Common */

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
/* #endregion Common */

/* #region utilities */

:root {
      --bg_primary: #FF6900;
      --bg_lighter: #008000;
      --bg_darkness: #1A1A1A;
      --bg_important: #FF0000;
      --bg_light: #FFFFFF;
}

body {
      font-family: Arial, Helvetica, sans-serif;
}

header {
      background-color: var(--bg_primary);
      box-shadow: 0px 10px 15px gray;
      /* position: fixed;
      top: 0;
      z-index: 100; */
}

a {
      text-decoration: none;
}

.gender a,
.personal i{
      color: var(--bg_light);
      padding: 0.2rem;
}

.col-4 {
      width: calc(100% / 12 * 4);
      position: relative;
      padding: 1rem;
}

.center {
      text-align: center;
}

.right {
      text-align: right;
}

.row {
      display: flex;
      flex-wrap: wrap;
}

.container {
      margin: 50px 0;
}

img {
   width: 100%;   
}

.heart,
.info_product {
      position: absolute;
}

.bg-imp {
      background-color: var(--bg_important);
}

.bg-green {
      background-color: var(--bg_lighter);
}

h2 {
      text-transform: uppercase;
}
/* #endregion utilities */

/* #region header */

.menu {
      width: 80%;
      margin: auto;
      font-weight: bold;
}

header .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.logo {
      width: 20%;
      text-align: center;
}

.personal {
      text-align: right;
}

.gender a:hover {
      font-size: 20px;
}
.personal i:hover {
      cursor: pointer;
      scale: 1.5;
}

/* #endregion header */

/* #region main */

.container {
      width: 80%;
      margin: 2rem auto;
}

.sale,
.eco {
      font-size: 0.8rem;
      font-weight: 800;
      color: white;
      padding: 0.2rem 0.5rem;
      margin-right:0.2rem;
}

.heart {
      font-size: 2rem;
      padding: 1rem;
      background-color: var(--bg_light);
      right: 1rem;
      top: 2rem;
      visibility: hidden;
}

.col-4:hover .heart {
      visibility: visible;
}

.info_product {
      left: 1rem;
      bottom: 8rem;
}

.info h5 {
      color: gray;
}

.price,
.price_del {
      font-size: 0.8rem;
}

.price {
      color: var(--bg_important);
      font-weight: 800;
      
}

.price_del {
      text-decoration: line-through;
}
/* #endregion main */